<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2luZW1hfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1>Awesome Movie Lists</h1>
    <p>By David</p>
    <%= link_to "Add a new list", new_list_path, class: "btn btn-gradient" %>
  </div>
</div>

<div class="container">
  <% @lists.each do |list| %>
    <%= link_to list.name, list_path(list) %>
    <div class="card-product">
      <%# <img src= /> %>
      <div class="card-product-infos">
        <h3><%= link_to list.name, list_path(list) %></h3>
      </div>
    </div>
  <% end %>
</div>
